.bo{
    width: 400px;
    height: 500px;
    position: relative;
    color: rgb(148, 137, 122);
}
.bo .anh{
    width: 100%;
    height: 100%;
}
.bo .vien{
    width: 400px;
    height: 500px;
    position: absolute;
    background:rgb(219, 209, 209);
    top: 0px; left: 0px;
    opacity: 0;
    transition: 0.4s;
    border: 0px solid black;
    box-sizing: border-box;
}
.bo:hover .vien{
    opacity: 1;
    border: 15px solid rgb(114, 106, 106);
}
.bo .trang{
    width: 400px;
    height: 500px;
    position: absolute;
    top: 40px;
    left: 40px;
    opacity: 0;
    transition: 0.4s;
}
.bo:hover .trang{
    opacity: 1;
}
.bo .trang h3{
    width: 200px;
    height: 50x;
    overflow: hidden;
    margin-top: 50px;
    transition: 0.4s;
}
.bo:hover .trang h3{
    margin-top: 0px;
}
.bo .trang h5{

}
*{
    padding: 0px; margin: 0px;
}