h1{
    width: 680px;
    margin-left: 200px;
}
hr{
    width: 650px;
    margin-left: 200px;
}
h3{
    margin-left: 270px;
    width: 560px;
}
ul{

}
ul li{
color: orange;
margin-left: 240px;
width: 570px;
}
ul li a{
    width: 570px;
    text-decoration: none;
    color: black;
}

hr.a{
    width: 550px;
    margin-left: 270px;
}
p{
    margin-left: 270px;
    width: 560px;
}
p.a{
    margin-left: 270px;
    width: 560px;
}
img.c{
    width: 570px;
    margin-left: 270px;
}
p.b{
    width: 570px;
    margin-left: 270px;
}
.div1{
    width: 600px;
    display: flex;
}
div img.anh1{
    width: 275px;
    height: 200px;
    margin-left: 270px;
    margin-right: 10px;
}
div img.anh2{
    width: 275px;
    height: 200px;
}