.menu{
    margin-bottom: 10px;
}
.menu .a1{
    text-decoration: none;
    margin-right: 8px;
    color: blue;
}
.menu .a1:hover{
    color: rgb(127, 66, 184);
    border-bottom:3px solid rgb(127, 66, 184);
}
.list{
    width: 800px;
    display: flex;
    flex-wrap: wrap;

}
.list .a2{
    text-decoration: none;
    font-size: 16px;
    color: blue;
    width: 200px;
    margin-bottom: 5px;
}
.list .a2 img{
    width: 20px;
    height: 20px;
    border-radius: 4px;
}
.list .a2 img:hover{
    width: 20px;
    height: 20px;
    border: 3px solid rgb(40, 74, 184);
}
.list .a2 span{
    width: 170px;
}
.list .a2 span:hover{
    color: rgb(127, 66, 184);
    border-bottom: 3px solid rgb(127, 66, 184);
    padding: 0px;
}