.content{
    display: flex;
    width: 1290px;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    perspective: 1000px;
}
.content .product{
    font-family: segoe ui light;
    font-size: 13px;
    width: 300px;
    height: 400px;
    position: relative;
    margin-bottom: 80px;
}
.content .product .anh1 .so1{width: 100%; }
.content .product .anh2 .so2{width: 100%; }
.content .product .anh2{
    display: flex;
    width: 100%;
    position: absolute;
    top: 0px; left: 0px;
    opacity: 0;
    transition: 0.4s;
}
.content .product:hover .anh2{
    opacity: 1;
    transform: rotateY(360deg);

}
.content .product .anh2 .trai{
    width: 50%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: black;
    background: rgb(214, 203, 203);
    padding: 15px ;
    text-align: center;
    opacity: 1;
    transition: 0.4s;
}
.content .product .anh2 .trai:hover{
    opacity: 0.8;
}
.content .product .anh2 .phai{
    position: absolute;
    width: 50%;
    bottom: 0px;
    right: 0px;
    color: black;
    background: rgb(214, 203, 203);
    padding: 15px;
    text-align: center;
    opacity: 1;
    transition: 0.4s;
}
.content .product .anh2 .phai:hover{
   opacity: 0.8;
}
.content .product .layer1 a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
.content .product .layer2{
    margin-top: 5px;
    font-size: 16px;
}
