.banner{
    display: flex;
    width: 1200px;
    height: 850px;
    margin:auto;
}
.banner .c1{
    width: 200px;
}
.banner .c2{
    width: 650px;
}
.banner .c2 .tren{
    width: 650px;
}
.banner .c2 .tren img{
    width: 650px;
    height: 500px;
}
.banner .c2 .duoi{
    display: flex;
    height: 350px;
}
.banner .c2 .duoi .motnua img{
    height: 100%;
    width: 100%;
}
.banner .c3{
    width: 350px;
}
img{
    width: 100%;
}